
  .hidden { display: none; }
  fieldset { margin-bottom: 1.25rem; }
  h1,h2,h3,h4 { margin: .3rem 0; }
  .summary { border-top: 2px solid #ccc; padding-top: 1rem; margin-top: 1rem; }
  h3 {
    border-bottom: 1px solid black;
    padding: 5px 0;
  }
  button { margin-top: .5rem; margin-right: .5rem; }
  .sr-only {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0rem 1rem;
  }
  .checkbox-group label {
    display: flex;
    align-items: center;
  }
  .checkbox-group input[type="checkbox"] {
    margin-right: 0.5rem; /* Adjust spacing as needed */
  }
  .something-else-input {
    margin: 0.5rem 0.25rem;
  }

  label:has(input[type="checkbox"]:checked) {
    font-weight: bold;
    text-decoration: underline;
  }